@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
}

body{
    width: 100%;
    background: linear-gradient(90deg, #0a0a0a, #3a4452);
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.calculator{
    border: 1px solid #717377;
    padding: 5px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5) ;
}

input{
    width: 270px;
    border: none;
    padding: 10px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84 ,84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: white;
}

input::placeholder{
    color: white;
}

.button{
  width: 50px;
  height: 50px;
  margin: 10px;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  background: transparent;
  color: white;
  box-shadow: -4px -4px 15px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.button:hover{
    background-color: rgb(201, 201, 201);
}

.equalBtn{
    background-color: #fb7c14;
}
.equalBtn:hover{
    background-color: rgb(255, 174, 0);
}

.operatoBtn{
    color: #fb7c14;
}
.operatoBtn:hover{
    background-color: rgb(255, 174, 0);
}

.main-btn{
    background-color: rgb(255, 166, 0);
    color: white;
}
.main-btn:hover{
    background-color: rgb(253, 199, 83);
}
